.modal-background {
    width: 100vw;
    height: 120%;
    background-color: rgba(200, 200, 200);
    position: absolute;
    display: flex;
    justify-content: center;
  }

  .goal-modal-background {
    width: 98.8vw;
    height: 120%;
    background-color: rgba(200, 200, 200);
    position: absolute;
    display: flex;
    justify-content: center;
    top: 53px;
  }
  
  .modal-container {
    width: 500px;
    height: 350px;
    border-radius: 12px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;
  }
  
  .modal-container .title {
    display: inline-block;
    text-align: center;
    margin-top: 10px;
  }
  
  
  
  .modal-container .body {
    flex: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    text-align: center;
  }
  
  .modalContainer .footer {
    flex: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modalContainer .footer button {
    width: 150px;
    height: 45px;
    margin: 10px;
    border: none;
    background-color: cornflowerblue;
    color: white;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
  }
  
  #cancelBtn {
    background-color: crimson;
  }

  form div {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .modal-container input {
    border-radius: 4px;
    border: 1px solid black;
    padding: 4px;
    color: black;
  }

  .modal-container label {
    margin: 8px 0 8px 0;
  }

  .titleCloseBtn {
    display: flex;
    justify-content: flex-end;
    background-color: transparent;
  }
  
  .titleCloseBtn button {
    border: none;
    font-size: 25px;
    cursor: pointer;
    border: none;
  }

  .modal-btn-options {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 24px 0 42px 0;
  }

  .modal-btn-options button {
    margin: 24px;
    background-color: rgb(137, 181, 241);
  }

  #cancel-btn {
    background-color: rgba(244, 61, 48, 0.876);
  }